In [1]:
import pandas as pd

df_sales = pd.read_parquet("../data/processed/superstore_clean.parquet")
df_sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,TotalPrice
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,261.9600
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,731.9400
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,14.6200
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,957.5775
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,22.3680

In [2]:
df_sales["Order Date"] = pd.to_datetime(df_sales["Order Date"])

In [3]:
# Establecer Order Date como índice temporal
df_sales = df_sales.set_index("Order Date")

sales_by_month = (
    df_sales["TotalPrice"]
    .resample("M")
    .sum()
    .reset_index()
    .rename(columns={"TotalPrice": "sales"})
)

sales_by_month.head()

C:\Users\clml\AppData\Local\Temp\ipykernel_15996\431898830.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample("M")

  Order Date      sales
0 2014-01-31  14236.895
1 2014-02-28   4519.892
2 2014-03-31  55691.009
3 2014-04-30  28295.345
4 2014-05-31  23648.287

In [4]:
def format_miles(x):
    return f"{int(x):,}".replace(",", ".")

sales_by_month["sales_fmt"] = sales_by_month["sales"].apply(format_miles)

sales_by_month.head()

  Order Date      sales sales_fmt
0 2014-01-31  14236.895    14.236
1 2014-02-28   4519.892     4.519
2 2014-03-31  55691.009    55.691
3 2014-04-30  28295.345    28.295
4 2014-05-31  23648.287    23.648

In [5]:
sales_by_month.to_parquet(
    "../data/processed/dashboard_sales_by_month.parquet",
    index=False
)

In [6]:
import os
os.listdir("../data/processed")

['dashboard_churn_by_region.parquet',
 'dashboard_sales_by_month.parquet',
 'dashboard_sales_by_region.parquet',
 'dashboard_sales_by_segment.parquet',
 'model_df_fe.parquet',
 'model_df_fe_base.parquet',
 'rfm_segments.parquet',
 'superstore_clean.parquet']

In [7]:
import pandas as pd

df_sales = pd.read_parquet("../data/processed/superstore_clean.parquet")
df_sales["Order Date"] = pd.to_datetime(df_sales["Order Date"])
df_sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,TotalPrice
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,261.9600
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,731.9400
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,14.6200
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,957.5775
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,22.3680

In [8]:
# Ventas por región
sales_by_region = (
    df_sales.groupby("Region")["TotalPrice"]
    .sum()
    .reset_index()
    .rename(columns={"TotalPrice": "sales"})
)

# Ventas por segmento
sales_by_segment = (
    df_sales.groupby("Segment")["TotalPrice"]
    .sum()
    .reset_index()
    .rename(columns={"TotalPrice": "sales"})
)

sales_by_region.head(), sales_by_segment.head()

(    Region        sales
 0  Central  501239.8908
 1     East  678781.2400
 2    South  391721.9050
 3     West  725457.8245,
        Segment         sales
 0     Consumer  1.161401e+06
 1    Corporate  7.061464e+05
 2  Home Office  4.296531e+05)

In [9]:
def format_miles(x):
    return f"{int(x):,}".replace(",", ".")

In [10]:
sales_by_region["sales_fmt"] = sales_by_region["sales"].apply(format_miles)
sales_by_segment["sales_fmt"] = sales_by_segment["sales"].apply(format_miles)

sales_by_region, sales_by_segment

(    Region        sales sales_fmt
 0  Central  501239.8908   501.239
 1     East  678781.2400   678.781
 2    South  391721.9050   391.721
 3     West  725457.8245   725.457,
        Segment         sales  sales_fmt
 0     Consumer  1.161401e+06  1.161.401
 1    Corporate  7.061464e+05    706.146
 2  Home Office  4.296531e+05    429.653)

In [11]:
sales_by_region.to_parquet(
    "../data/processed/dashboard_sales_by_region.parquet",
    index=False
)

sales_by_segment.to_parquet(
    "../data/processed/dashboard_sales_by_segment.parquet",
    index=False
)

In [12]:
import os
os.listdir("../data/processed")

['dashboard_churn_by_region.parquet',
 'dashboard_sales_by_month.parquet',
 'dashboard_sales_by_region.parquet',
 'dashboard_sales_by_segment.parquet',
 'model_df_fe.parquet',
 'model_df_fe_base.parquet',
 'rfm_segments.parquet',
 'superstore_clean.parquet']

In [13]:
import pandas as pd

# Dataset de clientes con proba_churn (salvado desde el notebook 3)
model_df_fe = pd.read_parquet("../data/processed/model_df_fe.parquet")
model_df_fe.head()

,Customer ID,Recency,Frequency,Monetary,cluster,days_since_last_order,churn,Region_East,Region_South,Region_West,orders_last_90,sales_last_90,orders_last_180,sales_last_180,avg_order_value,avg_discount,Segment_main_Corporate,Segment_main_Home Office,proba_churn
0,AA-10315,185,5,5563.560,1,184,1,False,False,False,0.0,0.000,0.0,0.000,505.778182,0.090909,False,False,0.660000
1,AA-10375,20,9,1056.390,0,19,0,True,False,False,1.0,149.872,2.0,206.732,70.426000,0.080000,False,False,0.053333
2,AA-10480,260,4,1790.512,1,259,1,False,False,False,0.0,0.000,0.0,0.000,149.209333,0.016667,False,False,0.810000
3,AA-10645,56,6,5086.935,0,55,0,True,False,False,1.0,12.960,1.0,12.960,282.607500,0.063889,False,False,0.063333
4,AB-10015,416,3,886.156,3,415,1,False,False,False,0.0,0.000,0.0,0.000,147.692667,0.066667,False,False,0.990000

In [14]:
df_sales = pd.read_parquet("../data/processed/superstore_clean.parquet")

customer_region = (
    df_sales.groupby("Customer ID")["Region"]
    .agg(lambda x: x.mode().iloc[0])   # región más frecuente del cliente
    .reset_index()
)

customer_region.head()

  Customer ID   Region
0    AA-10315  Central
1    AA-10375     East
2    AA-10480  Central
3    AA-10645     East
4    AB-10015  Central

In [15]:
import pandas as pd
import json
import math

# Dataset de ventas
df_sales = pd.read_parquet("../data/processed/superstore_clean.parquet")
df_sales["Order Date"] = pd.to_datetime(df_sales["Order Date"])

# Dataset de clientes con churn
model_df_fe = pd.read_parquet("../data/processed/model_df_fe.parquet")

In [2]:
def fmt_int(x):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    return f"{int(round(x)):,}".replace(",", ".")

def fmt_currency(x, symbol="€"):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    base = f"{int(round(x)):,}".replace(",", ".")
    return f"{base} {symbol}"

def fmt_percent(x, decimals=1):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    value = round(x * 100, decimals)
    txt = f"{value:,.{decimals}f}"
    txt = txt.replace(",", "X").replace(".", ",").replace("X", ".")
    return f"{txt} %"

In [20]:
import pandas as pd

model_df_fe = pd.read_parquet("../data/processed/model_df_fe.parquet")
model_df_fe.head()

,Customer ID,Recency,Frequency,Monetary,cluster,days_since_last_order,churn,Region_East,Region_South,Region_West,orders_last_90,sales_last_90,orders_last_180,sales_last_180,avg_order_value,avg_discount,Segment_main_Corporate,Segment_main_Home Office,proba_churn
0,AA-10315,185,5,5563.560,1,184,1,False,False,False,0.0,0.000,0.0,0.000,505.778182,0.090909,False,False,0.660000
1,AA-10375,20,9,1056.390,0,19,0,True,False,False,1.0,149.872,2.0,206.732,70.426000,0.080000,False,False,0.053333
2,AA-10480,260,4,1790.512,1,259,1,False,False,False,0.0,0.000,0.0,0.000,149.209333,0.016667,False,False,0.810000
3,AA-10645,56,6,5086.935,0,55,0,True,False,False,1.0,12.960,1.0,12.960,282.607500,0.063889,False,False,0.063333
4,AB-10015,416,3,886.156,3,415,1,False,False,False,0.0,0.000,0.0,0.000,147.692667,0.066667,False,False,0.990000

In [21]:
model_df_fe.columns.tolist()

['Customer ID',
 'Recency',
 'Frequency',
 'Monetary',
 'cluster',
 'days_since_last_order',
 'churn',
 'Region_East',
 'Region_South',
 'Region_West',
 'orders_last_90',
 'sales_last_90',
 'orders_last_180',
 'sales_last_180',
 'avg_order_value',
 'avg_discount',
 'Segment_main_Corporate',
 'Segment_main_Home Office',
 'proba_churn']

In [22]:
churn_threshold = 0.5

In [23]:
model_df_fe["churn_pred"] = (model_df_fe["proba_churn"] >= churn_threshold).astype(int)

In [24]:
model_df_fe[["proba_churn", "churn_pred"]].head()

   proba_churn  churn_pred
0     0.660000           1
1     0.053333           0
2     0.810000           1
3     0.063333           0
4     0.990000           1

In [25]:
model_df_fe.to_parquet(
    "../data/processed/model_df_fe.parquet",
    index=False
)

In [26]:
test = pd.read_parquet("../data/processed/model_df_fe.parquet")
test.columns.tolist()

['Customer ID',
 'Recency',
 'Frequency',
 'Monetary',
 'cluster',
 'days_since_last_order',
 'churn',
 'Region_East',
 'Region_South',
 'Region_West',
 'orders_last_90',
 'sales_last_90',
 'orders_last_180',
 'sales_last_180',
 'avg_order_value',
 'avg_discount',
 'Segment_main_Corporate',
 'Segment_main_Home Office',
 'proba_churn',
 'churn_pred']

In [27]:
churn_rate = float(model_df_fe["churn_pred"].mean())
churn_rate

0.22698612862547288

In [1]:
import pandas as pd
import json
import math
import os

# 1️⃣ Cargar datos necesarios
df_sales = pd.read_parquet("../data/processed/superstore_clean.parquet")
df_sales["Order Date"] = pd.to_datetime(df_sales["Order Date"])

model_df_fe = pd.read_parquet("../data/processed/model_df_fe.parquet")

print("Columnas de model_df_fe:")
print(model_df_fe.columns.tolist())

# Aseguramos que churn_pred exista
churn_threshold = 0.5

if "churn_pred" not in model_df_fe.columns:
    model_df_fe["churn_pred"] = (model_df_fe["proba_churn"] >= churn_threshold).astype(int)

# 2️⃣ Funciones de formato
def fmt_int(x):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    return f"{int(round(x)):,}".replace(",", ".")

def fmt_currency(x, symbol="€"):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    
    # Convertir sin decimales y con puntos como separador de miles
    base = f"{int(round(x)):,}".replace(",", ".")
    
    # Devolver string limpio con símbolo euro correcto
    return f"{base} €"

def fmt_percent(x, decimals=1):
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return "-"
    value = round(x * 100, decimals)
    txt = f"{value:,.{decimals}f}"
    txt = txt.replace(",", "X").replace(".", ",").replace("X", ".")
    return f"{txt} %"

# 3️⃣ Calcular KPIs numéricos
total_customers = model_df_fe["Customer ID"].nunique()
total_sales = float(df_sales["TotalPrice"].sum())
avg_ticket = float(
    df_sales.groupby("Order ID")["TotalPrice"].sum().mean()
)
churn_rate = float(model_df_fe["churn_pred"].mean())
avg_proba_churn = float(model_df_fe["proba_churn"].mean())

kpis_numeric = {
    "total_customers": total_customers,
    "total_sales": total_sales,
    "avg_ticket": avg_ticket,
    "churn_rate": churn_rate,
    "avg_proba_churn": avg_proba_churn,
    "churn_threshold": churn_threshold,
}

kpis_formatted = {
    "total_customers": fmt_int(total_customers),
    "total_sales": fmt_currency(total_sales),
    "avg_ticket": fmt_currency(avg_ticket),
    "churn_rate": fmt_percent(churn_rate),
    "avg_proba_churn": fmt_percent(avg_proba_churn),
    "churn_threshold": fmt_percent(churn_threshold),
}

print("\nKPIs numéricos:")
print(kpis_numeric)
print("\nKPIs formateados:")
print(kpis_formatted)

# 4️⃣ Guardar JSON en ../data/processed
output_dir = "../data/processed"
os.makedirs(output_dir, exist_ok=True)

numeric_path = os.path.join(output_dir, "dashboard_kpis_numeric.json")
formatted_path = os.path.join(output_dir, "dashboard_kpis_formatted.json")

with open(numeric_path, "w") as f:
    json.dump(kpis_numeric, f, indent=4)

with open(formatted_path, "w", encoding="utf-8") as f:
    json.dump(kpis_formatted, f, indent=4, ensure_ascii=False)

print("\nArchivos escritos:")
print(" -", numeric_path)
print(" -", formatted_path)

print("\nContenido actual de ../data/processed:")
print(os.listdir(output_dir))

Columnas de model_df_fe:
['Customer ID', 'Recency', 'Frequency', 'Monetary', 'cluster', 'days_since_last_order', 'churn', 'Region_East', 'Region_South', 'Region_West', 'orders_last_90', 'sales_last_90', 'orders_last_180', 'sales_last_180', 'avg_order_value', 'avg_discount', 'Segment_main_Corporate', 'Segment_main_Home Office', 'proba_churn', 'churn_pred']

KPIs numéricos:
{'total_customers': 793, 'total_sales': 2297200.8603, 'avg_ticket': 458.61466566180883, 'churn_rate': 0.22698612862547288, 'avg_proba_churn': 0.25002101723413195, 'churn_threshold': 0.5}

KPIs formateados:
{'total_customers': '793', 'total_sales': '2.297.201 €', 'avg_ticket': '459 €', 'churn_rate': '22,7 %', 'avg_proba_churn': '25,0 %', 'churn_threshold': '50,0 %'}

Archivos escritos:
 - ../data/processed\dashboard_kpis_numeric.json
 - ../data/processed\dashboard_kpis_formatted.json

Contenido actual de ../data/processed:
['dashboard_churn_by_region.parquet', 'dashboard_kpis_formatted.json', 'dashboard_kpis_numeric.json', 'dashboard_sales_by_month.parquet', 'dashboard_sales_by_region.parquet', 'dashboard_sales_by_segment.parquet', 'model_df_fe.parquet', 'model_df_fe_base.parquet', 'rfm_segments.parquet', 'superstore_clean.parquet']